<p>*************************************************************************************************************************************************************************</p>
<h2>Directivas de atributo</h2>
<small>
    Alteran la apariencia o comportamiento de un elemento del DOM y son usados como atributos de los elementos
    <br>
    <h3>ngStyle:</h3>actualiza los estilos para un elemento HTML determinado. Establece una o más propiedades de estilo, especificadas como pares clave-valor separados por dos puntos

</small>

<!-- // De una manera -->
<!-- <p [ngStyle]="{color: 'red', fontSize: '24px'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, consequuntur
</p> -->
<p [ngStyle]="propiedadesParrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, consequuntur
</p>
<div>
    <button (click)="cambiarColor('v')">Verde</button>
    <button (click)="cambiarColor('r')">Rojo</button>
    <button (click)="cambiarColor('a')">Amarillo</button>
</div>

<div>
    <input type="text" [(ngModel)]="propiedadesParrafo.color">
</div>

<div>
    <input (input)="onInput($event)" type="range" min="12" max="30" step="1">
</div>