<h1>Directivas en Angular</h1>
<small>Las Directivas extienden la funcionalidad del HTML usando para ello una nueva sintaxis. Con ella podemos usar lógica que será ejecutada en el DOM (Document Object Model).
    Cada Directiva que usamos tiene un nombre, y determina donde puede ser usada, sea en un elemento, atributo, componente o clase.</small>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-switch></app-ng-switch>
<p>*************************************************************************************************************************************************************************</p>
<h2>Ejercicio To-Do haciendo uso de la directivas</h2>

<div class="ejercicio">
    <div class="formulario">
        <app-formulario (tareaRegistrada)="agregarTareaLista($event)"></app-formulario>
    </div>
    <div class="tareas">
        <app-lista [tareas]="tareas"></app-lista>
    </div>
</div>

<p>*************************************************************************************************************************************************************************</p>

<h2>Ejercicio Caja registradora</h2>

<div class="container">
    <div class="izquierda">
        <app-lista-productos (productoSeleccionado)="onProductoSeleccionado($event)" titulo="Comida" [productos]="arrComida"></app-lista-productos>
        <app-lista-productos (productoSeleccionado)="onProductoSeleccionado($event)" titulo="Bebida" [productos]="arrBebida"></app-lista-productos>
    </div>
    <div class="derecha">
        <app-comanda [arrProductos]="productosSeleccionados"></app-comanda>
    </div>
</div>

<p>*************************************************************************************************************************************************************************</p>