<h1>Directivas en Angular</h1>
<small>Las Directivas extienden la funcionalidad del HTML usando para ello una nueva sintaxis. Con ella podemos usar lógica que será ejecutada en el DOM (Document Object Model).
    Cada Directiva que usamos tiene un nombre, y determina donde puede ser usada, sea en un elemento, atributo, componente o clase.</small>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-switch></app-ng-switch>
<p>*************************************************************************************************************************************************************************</p>
<h2>Ejercicio To-Do haciendo uso de la directivas</h2>

<div class="ejercicio">
    <div class="formulario">
        <app-formulario (tareaRegistrada)="agregarTareaLista($event)"></app-formulario>
    </div>
    <div class="tareas">
        <app-lista [tareas]="tareas"></app-lista>
    </div>
</div>

<p>*************************************************************************************************************************************************************************</p>

<h2>Ejercicio Caja registradora</h2>

<div class="container">
    <div class="izquierda">
        <app-lista-productos (productoSeleccionado)="onProductoSeleccionado($event)" titulo="Comida" [productos]="arrComida"></app-lista-productos>
        <app-lista-productos (productoSeleccionado)="onProductoSeleccionado($event)" titulo="Bebida" [productos]="arrBebida"></app-lista-productos>
    </div>
    <div class="derecha">
        <app-comanda [arrProductos]="productosSeleccionados"></app-comanda>
    </div>
</div>

<p>*************************************************************************************************************************************************************************</p>

<h2>Directivas personalizadas</h2>

<p [appSubrayado]="{colorHover: 'yellow', colorNoHover: 'blue'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, hic?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, hic?</p>
<p [appSubrayado]="{colorHover: 'grey', colorNoHover: 'pink'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, hic?</p>

<h4>@HostListener</h4>
<p>Permite caputurar eventos que hayan sucesido en elementos en los que se haya aplicado la directiva</p>
<h4>@HostBinding</h4>
<p>este decorador enlaza un propiedad de clase a una propiedad del elemento Host.
</p>
<h4>@Input</h4>
<p>Pasar del elemento padre a hijo como en los componentes</p>

<p>*************************************************************************************************************************************************************************</p>


<div class="containerCompras">
    <div class="row">
        <app-formulario-compras (productoCreado)="onProductoCreado($event)"></app-formulario-compras>
    </div>
    <div class="row listas">
        <div class="izquierda">
            <app-lista-productos-compras (productoSeleccionado)="onProductoSeleccionadoCompra($event)" textoBoton="COMPRAR" [productosDeCompra]="productosDeCompraSeleccionados"></app-lista-productos-compras>
        </div>
        <div class="derecha">
            <app-lista-productos-compras [productosDeCompra]="productosComprados" textoBoton="QUITAR" (productoSeleccionado)="onProductoNoSeleccionado($event)"></app-lista-productos-compras>
        </div>
    </div>
</div>